table{
	font-size: 14px;
}

/*Ventana modal editar*/
div#editar div.row div.col-lg-4 input.form-control{
	border-radius: 5px;
	border:1px solid #39c;
}

div#editar div.modal-body div.row div.col-lg-4 input.form-control,select{
	border-radius: 5px;
	border:1px solid #39c;

}

div#editar div.modal-footer button.mGuardar{
	border-radius: 3px;
}
div#editar div.modal-footer div.mCerrar{
	background-color: #fff;
	border-radius: 3px;
	border:1px solid black;
}

div#detalles div.modal-body div.row div.col-lg-4 input.form-control,select.form-control{
	border-radius: 5px;
	border:1px solid #39c;
}

div#detalles div.modal-footer button.mGuardar{
	border-radius: 3px;
}
div#detalles div.modal-footer div.mCerrar{
	background-color: #fff;
	border-radius: 3px;
	border:1px solid black;
}

